#scan2ai-html {
  color: black;
}

#scan2ai-html canvas {
  display: block;
  width: auto;
  height: auto;
}

#scan2ai-html .hidden {
  display: none !important;
}

#scan2ai-html #scan2ai-select {
  height: 100%;
}

#scan2ai-html #scan2ai-select,
#scan2ai-html #scan2ai-select * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: crosshair;
}

#scan2ai-html #scan2ai-select-area {
  position: absolute;
  background: #00000050;
  z-index: 1000;
}

#scan2ai-html .scan2ai-toolbar {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  position: fixed;
  right: 10px;
  bottom: 50px;
}
#scan2ai-html .scan2ai-toolbar .toolbar-column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#scan2ai-html .scan2ai-toolbar .toolbar-column-reverse {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
}

.btn {
  font-size: 16px;
  padding: 6px 12px;
  border-radius: 0.375rem;
}

.btn-icon {
  border-radius: 100%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  text-align: center;
  border: 1px solid;
  font-size: 1.25rem;
}

.btn-icon:not(.btn-icon.extension-btn) svg {
  width: 1em;
  height: -webkit-fill-available;
}

.btn-primary {
  border: 1px solid #0d6efd !important;
  background: #0d6efd !important;
  color: #fff !important;
}
.btn-primary.active,
.btn-primary:hover {
  border: 1px solid #0b5ed7 !important;
  background: #0a58ca !important;
}

.btn-secondary {
  border: 1px solid #6c757d !important;
  background: #6c757d !important;
  color: #fff !important;
}
.btn-secondary:hover {
  border: 1px solid #565e64 !important;
  background: #5c636a !important;
}

.btn-info {
  border: 1px solid #0dcaf0 !important;
  background: #0dcaf0 !important;
  color: #000 !important;
}
.btn-info:hover {
  border: 1px solid #25cff2 !important;
  background: #31d2f2 !important;
}

.btn-icon.extension-btn {
  font-size: inherit;
}

.btn-icon.extension-btn {
  box-shadow: 0 0 10px 3px rgba(162, 161, 161, 0.3) !important;
}

#scan2ai-html #scan2ai-result {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#scan2ai-html #scan2ai-result #scan2ai-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
}

#scan2ai-html #scan2ai-result #scan2ai-result-dialog {
  min-width: 300px;
  z-index: 2;
}

#scan2ai-html #scan2ai-result #scan2ai-result-dialog .scan2ai-result-header {
  font-size: large;
  font-weight: bold;
}

#scan2ai-html #scan2ai-result #scan2ai-result-dialog #scan2ai-result-dialog-close {
  background: transparent;
  border: none;
  float: right;
  font-size: 20px;
  line-height: 20px;
  color: black;
  cursor: pointer;
}

#scan2ai-html #scan2ai-result #scan2ai-result-dialog .scan2ai-result-header,
#scan2ai-html #scan2ai-result #scan2ai-result-dialog .scan2ai-result-body {
  border-bottom: 1px solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

#scan2ai-html #scan2ai-result #scan2ai-result-dialog .scan2ai-result-footer {
  display: flex;
}
